In [0]:
import pandas as pd
import numpy as np

lista = [4, 6, 9, 2, 3, 3, 3, 4, 44]

s = set(lista)
pd.DataFrame(s).head(3)

   0
0  2
1  3
2  4

In [0]:
diez = pd.Series(np.random.randint(0, 100, 10)); diez.head(3)

0    44
1    57
2    14
dtype: int64

In [0]:
bloque = pd.Series(np.arange(0, 10, 0.25)); bloque.head(3)

0    0.00
1    0.25
2    0.50
dtype: float64

In [0]:
# random.choice

In [0]:
# array
grupo = pd.Series(np.random.rand(8)); grupo.head(3)

0    0.577805
1    0.347558
2    0.331975
dtype: float64