In [1]:
import pandas as pd

In [2]:
alfa = pd.read_csv('https://raw.githubusercontent.com/leeborio/paginas/master/cognitiveclass/scq_20191015.csv'); alfa.head(2)

  size  color  quantity
0    S  green      40.0
1    L    red      20.0

In [3]:
# _ = alfa.head(2).to_csv("test.csv")

In [4]:
# -----------------------------------------------------
# this creates a copy of "alfa"
# later down in a lower cell when i modify "alfa"
# "beta" remains the same, it does not change
# -----------------------------------------------------
beta = alfa[:]; beta

   size   color  quantity
0     S   green      40.0
1     L     red      20.0
2     M  yellow       9.0
3     M   black      17.0
4     L   white      53.0
5     S    grey      84.0
6     S     NaN      48.0
7   NaN    gray      48.0
8     S  yellow       9.0
9   NaN   black      88.0
10    S     red       NaN

In [5]:
# ----------------------------------------------------------------
# returns a 1 (single) record DATA FRAME
# in this case, just 1 record meets the filtering criteria
# the "color" column IS NA (null)
# ----------------------------------------------------------------
color_is_na = alfa[(alfa.color.isna())]; color_is_na
# type(color_is_na)

  size color  quantity
6    S   NaN      48.0

In [6]:
# -----------------------------------------------------------
# after this, "alfa" will not include the record at index 6
# -----------------------------------------------------------
alfa = alfa[(alfa.color.notna())]; alfa

   size   color  quantity
0     S   green      40.0
1     L     red      20.0
2     M  yellow       9.0
3     M   black      17.0
4     L   white      53.0
5     S    grey      84.0
7   NaN    gray      48.0
8     S  yellow       9.0
9   NaN   black      88.0
10    S     red       NaN

In [7]:
# ---------------------------------------------------------
# returns the record at index 6 (position 7) AS A SERIES
# "beta" still has the record at index 6
# which was removed from "alfa" above
# ---------------------------------------------------------
beta.iloc[6]

size          S
color       NaN
quantity     48
Name: 6, dtype: object

In [8]:
beta_before_3 = beta.iloc[:3]; beta_before_3

  size   color  quantity
0    S   green      40.0
1    L     red      20.0
2    M  yellow       9.0

In [9]:
beta_starting_at_3 = beta.iloc[3:]; beta_starting_at_3

   size   color  quantity
3     M   black      17.0
4     L   white      53.0
5     S    grey      84.0
6     S     NaN      48.0
7   NaN    gray      48.0
8     S  yellow       9.0
9   NaN   black      88.0
10    S     red       NaN

In [10]:
# ---------------------------------------------------------
# this returs A SERIES
# "size" is an attribute/property of the data frame
# CANNOT USE "beta.size"
# ---------------------------------------------------------
beta_size = beta['size']; beta_size
# type(beta_size)

0       S
1       L
2       M
3       M
4       L
5       S
6       S
7     NaN
8       S
9     NaN
10      S
Name: size, dtype: object

In [11]:
distinct_size = pd.Series(beta['size'].unique()); distinct_size

0      S
1      L
2      M
3    NaN
dtype: object